* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: white;
    border-radius: 7px;
}

body {
    background-image: url('/quiz-app/blue-bkg.jpg');
}

header {
    text-align: center;
    vertical-align: middle;
    width: fit-content;
    height:auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom:50px;
    padding: 1px;  
    padding-left: 22px;
    padding-right: 22px;  
    background-color: rgba(110, 110, 110, 0.582);
}

#score {
    background-color: rgba(110, 110, 110, 0.582);
    display: flexbox;
    float: left;
    text-align: center;
    width:15%;
    margin-left: 10%;
    max-width: 150px;
    min-width: 80px;
}

#score > h1 {
    font-size: 18px;
}

#correct > h3 {
    color: rgb(0, 168, 0);
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#incorrect > h3 {
    color: rgb(206, 14, 0);
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
}


form {
    background-color: rgba(110, 110, 110, 0.541);
    display: flexbox;
    float: right;
    width:60%;
    margin-right:10%;
    padding:10px;
    
}

#question > h3 {
    margin-left: 5%;
}

li  {
    list-style-type: none;
}

#submit{
    width: fit-content;
    background-color: rgb(185, 185, 0);
    border-color: rgb(185, 185, 0);
    font-size: 20px;
    float:right;  
}

#next{
    width: fit-content;
    background-color: rgb(0, 168, 0);
    border-color: rgb(0, 168, 0);
    font-size: 20px;
    float:right;  
}

#message > p {
    color: rgb(206, 14, 0);
    font-weight: bold;
    font-size: 20px;
    margin-left: 5%;
}

#startHead {
    background-color: rgba(110, 110, 110, 0.541);
    text-align: center;
    margin: auto;
    width: fit-content;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
}
#startHead > button {
    background-color: rgb(0, 168, 0);
    font-size: 20px;
    border-color: rgb(0, 168, 0);
}

#retake {
    background-color: rgb(185, 185, 0);
    font-size: 20px;
    border-color: rgb(185, 185, 0);

}
